 * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("./image/mental health.png");
  background-position: right 50px;
  background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 10%;
  }

 #hue {
   color: rgb(25, 238, 227);
 }

 #logo {
   font-size: 250%;
   font-weight: bold;
   line-height: 30px;
   letter-spacing: -6px;
 }
    li {
    float: left;
    font-size: large;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  button {
    position: absolute;
    top: 7px;
    right: 110px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 130px;
    height: 40px;
    background-color: rgb(25, 238, 227);
    color: white;
  }

.info {
  background-color: rgb(5, 185, 176);
  height: 40px;
  width: 250px;
  color: rgb(138, 159, 253);
  line-height: 40px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
.column {
  width: 70%;
  padding: 10px;
  line-height: 2em;
}

li a:hover {
  background-color: rgb(199, 248, 252);
  color: white;
}

.social{
  justify-content: space-evenly;
  width: 150px;
  padding-top: 15%;
}

.social .fa{
  padding-top: 18%;
  color: black;
}

.image {
  width: 1000px;
}

.abs {
  position: absolute;
  top: 65%;
}
.alone {
  position: absolute;
  top: 10px;
  right: 290px;
}

.send-chat {
  position: relative;
  left: 10px;
}
.send-chat i{
  font-size: 25px;
}

.flex {
  display: flex;
  margin: 10px;
  padding-right: 90px;

}

.about {
  font-size: 2em;
}

.shift {
 
  display: flex;
  margin-left: 10%;
}

.connect {
  margin-left: 11%;
  word-spacing: 8px;
  letter-spacing: 5px;
}

.flexrest {
  display: flex;
  margin: 10px;
  width: 30%;
  height: 180px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

